<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./styles/main.css">
    <title>HOME</title>
</head>
<body>
    <header>
        <h1 class="brand">PG</h1>
        <div class="navigation">
            <a id="selected" href="/home">HOME</a>
            <a href="/landing">LANDING</a>
            <a href="/shop">SHOP</a>
        </div>
    </header>
    <main>
        <h1 class="title">HOME PAGE</h1>
        <div class="description">
            <h3 class="description__title">This is the description of the Home Page:</h3>
            <p class="description__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </main>
</body>
</html>